<div>
  <form
    [formGroup]="dayTimePickerForm"
    fxFlex
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
  >
    <div>
      <mat-form-field>
        <mat-label i18n>Day of the week</mat-label>
        <mat-select [errorStateMatcher]="errorStateMatcher" formControlName="dayOfTheWeek">
          <mat-option i18n value="1">Monday</mat-option>
          <mat-option i18n value="2">Tuesday</mat-option>
          <mat-option i18n value="3">Wednesday</mat-option>
          <mat-option i18n value="4">Thursday</mat-option>
          <mat-option i18n value="5">Friday</mat-option>
          <mat-option i18n value="6">Saturday</mat-option>
          <mat-option i18n value="7">Sunday</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mcc-timer-picker
          [mccConnectedTimerPickerOrigin]="startTime"
          [mccTimerPickerFormat]="'24'"
          mccConnectedTimerPicker
        ></mcc-timer-picker>
        <input
          #startTime="mccTimerPickerOrigin"
          [errorStateMatcher]="errorStateMatcher"
          formControlName="startTime"
          i18n
          matInput
          mccTimerPickerOrigin
          placeholder="Start time"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mcc-timer-picker
          [mccConnectedTimerPickerOrigin]="endTime"
          [mccTimerPickerFormat]="'24'"
          mccConnectedTimerPicker
        ></mcc-timer-picker>
        <input
          #endTime="mccTimerPickerOrigin"
          [errorStateMatcher]="errorStateMatcher"
          formControlName="endTime"
          i18n
          matInput
          mccTimerPickerOrigin
          placeholder="End time"
        />
      </mat-form-field>
    </div>
    <div
      class="buttons-container"
      fxFlex
      fxLayout="row">
      <div class="row">
        <button (click)="submit()" [disabled]="dayTimePickerForm.invalid" color="primary" i18n mat-raised-button>
          Add
        </button>
        <button (click)="clear()" [disabled]="dayTimePickerForm.invalid" color="accent" i18n mat-raised-button>
          Clear
        </button>
      </div>
      <div *ngIf="!!dayTimePickerForm.getError('range')" class="row" i18n>
        Start time of class must be before than end time
      </div>
    </div>
  </form>

  <!--uncomment for testing propourses
      this creates 5 classes with random times to sort
      -->
  <!--<button (click)="setUpTestCases()" mat-raised-button>
    <mat-icon>build</mat-icon>
  </button>-->
</div>

