<div>
  <form
    [formGroup]="dayTimePickerForm"
    fxFlex
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign="center baseline"
  >
    <div>
      <mat-form-field>
        <mat-label i18n>Day of the week</mat-label>
        <mat-select [errorStateMatcher]="errorStateMatcher" formControlName="dayOfTheWeek">
          <mat-option i18n value="0">Monday</mat-option>
          <mat-option i18n value="1">Tuesday</mat-option>
          <mat-option i18n value="2">Wednesday</mat-option>
          <mat-option i18n value="3">Thursday</mat-option>
          <mat-option i18n value="4">Friday</mat-option>
          <mat-option i18n value="5">Saturday</mat-option>
          <mat-option i18n value="6">Sunday</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <ngx-timepicker-field [format]="24"
                            formControlName="startTime"></ngx-timepicker-field>
    </div>
    <div>
      <ngx-timepicker-field [format]="24"
                            formControlName="endTime"></ngx-timepicker-field>
    </div>
    <div
      class="buttons-container"
      fxFlex
      fxLayout="row">
      <div class="row">
        <button (click)="submit()" [disabled]="dayTimePickerForm.invalid" color="primary" i18n mat-raised-button>
          Add
        </button>
        <button (click)="clear()" [disabled]="dayTimePickerForm.invalid" color="accent" i18n mat-raised-button>
          Clear
        </button>
      </div>
      <div *ngIf="!!dayTimePickerForm.getError('range')" class="row" i18n>
        Start time of class must be before than end time
      </div>
    </div>
  </form>

  <!--uncomment for testing propourses
      this creates 5 classes with random times to sort
      -->
  <button (click)="setUpTestCases()" mat-raised-button>
      <mat-icon>build</mat-icon>
  </button>
</div>

