<mat-card>
  <mat-card-title-group>
    <mat-card-title>Added classes</mat-card-title>
    <mat-card-subtitle>Here are your added classes to prepare the schedule</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>
    <div
      fxFlex
      fxLayout="column"
      fxLayout.gt-xs="row wrap">
      <div *ngFor="let addedClass of (addedClasses$ | async); let i = index">
        <app-created-class [createdClass]="addedClass" [index]="i"></app-created-class>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div fxFlex
         fxLayout="column"
         fxLayout.gt-xs="row wrap"
         fxLayoutAlign="space-between">
      <div *ngIf="(addedClasses$ | async)?.length === 0" class="card-footer-content" i18n>
        You have no classes to schedule. Feel free to add some!
      </div>
      <div *ngIf="(addedClasses$ | async)?.length === 1" class="card-footer-content" i18n>
        You have a single class to schedule. Feel free to add more!
      </div>
      <div *ngIf="(addedClasses$ | async)?.length > 1" class="card-footer-content" i18n>
        You have a total of {{(addedClasses$ | async).length}} classes to schedule
      </div>
      <button (click)="calculate()" i18n mat-raised-button>
        <mat-icon>refresh</mat-icon>
      </button>
      <button (click)="clearAll()" i18n mat-raised-button>
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
  </mat-card-footer>
</mat-card>
