<mat-card [formGroup]="scheduleAdderForm" class="card-demo">
  <mat-card-title>Add a new class</mat-card-title>
  <div>
    <mat-form-field>
      <input
        formControlName="className"
        i18n
        matInput
        placeholder="Class name"
      />
    </mat-form-field>
  </div>
  <mat-card-subtitle>Set the available schedules for your class
  </mat-card-subtitle>
  <mat-card-content>
    <h3 i18n>Current Schedule For this class</h3>
    <div *ngFor="let schedule of (currentSchedule$ | async).schedules; let i = index">
      <app-schedule [schedule]="schedule">
      </app-schedule>
    </div>
    <h4 i18n>Select day of the week and time</h4>
    <app-day-time-picker>
    </app-day-time-picker>

  </mat-card-content>
  <mat-card-footer>
    <div
      class="card-footer-content"
      fxFlex
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.xs="column">
      <div class="row">
        <button (click)="submit()"
                [disabled]="scheduleAdderForm.invalid || (currentSchedule$ | async).schedules.length === 0"
                color="primary" i18n mat-raised-button>
          Add Class
        </button>
        <button (click)="clear()"
                [disabled]="scheduleAdderForm.invalid ||(currentSchedule$ | async).schedules.length === 0"
                color="accent" i18n mat-raised-button>
          Clear class
        </button>
      </div>
    </div>
  </mat-card-footer>
</mat-card>
