/* You can add global styles to this file, and also import other style files */
//@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";

mat-card {
  margin: 10px;
}

.card-footer-content {
  padding: 15px;
}

button.mat-raised-button {
  margin: 5px;
}

.mat-icon {
  font-family: 'Material Icons' !important;
}

.material-icon {
  font-family: 'Material Icons' !important;
}
